
.body1{
    width: 100%;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.07);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body1 h1{
    padding-top: 4%;
    padding-left: 8%;
}

.main{
    display: flex;
    height: auto;
    margin-top: 60px ;

}

.main1{
    padding-top: 30px;
    padding-left: 80px;
    
}

.main2{
    padding-top: 50px;
}

.header{
    position: relative;

}

.box{
    position: absolute;
    height: 60px;
    width: 330px;
    background-color:white;
    bottom: 4px;
    left: 0;
}

.box a{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.499);
  
    
}

.box h3{
    padding-top: 15px;
   font-size: 15px;
    width: 46px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.251);
    margin-left: 150px; 
    background-color:white;
    
}

.template{
    padding-left: 15px;
    width: 750px;
    height: auto;
    color: rgba(0, 0, 0, 0.464);
    font-size: 16px;
    line-height: 25px;
    padding-top: 15px;
}
.template p{
    padding-bottom: 30px;
}
.template li{
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 20px;
}
.template li a{
    color: blue;
    text-decoration: none;
}

.title a{
    text-decoration: none;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.766);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    font-weight: 600;
    
}

.date{
    color: rgba(0, 0, 0, 0.337);
    display: flex;
    padding-top: 20px;
   margin-left: 0;

}

.date li{
    list-style-type: none;

}
.date li a{
    text-decoration: none;
    color:blueviolet;
}
code{
    color: brown;
}

.headers{
    display: flex;
}

.box1{
    position: absolute;
    height: 60px;
    width: 250px;
    background-color:white;
    bottom: 4px;
    left: 0;
}

.box1 a{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.499);
}
.box1 h3{
    padding-top: 15px;
    font-size: 15px;
     width: 46px;
     height: 25px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.251);
     margin-left: 150px; 
     background-color:white;
}

.one{
    width: 400px;
}

.template1{
    padding-left: 15px;
    width: 350px;
    height: auto;
    color: rgba(0, 0, 0, 0.464);
    font-size: 16px;
    line-height: 25px;
    padding-top: 15px;
}

.template1 p{
    padding-bottom: 30px;
}
.template1 p a{
    color:blueviolet;
    text-decoration: none;
}
.template1 li{
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 20px;
}
.template1 li a{
    color:blueviolet;
    text-decoration: none;
}

.h31{
    height: 35px;
    width: 150px;
    background-color:#745cf9;
    border:2px solid #745cf9;
    opacity: 1;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    margin-left: 21px;
   
}
.h31:hover{
    opacity: 0.8;
}

.h31 a{
   
    text-decoration: none;
    color: white;
    font-size: medium;
}

.m16{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.m16 ul{
    display: flex;
   list-style-type: none;
   
   justify-content: center;
}

.m16 ul li{
    /* padding: 15px; */
    font-size: medium;
    margin-left: 10px;
   text-align: center;
   width: 30px;
   height: 25px;
   border: 1px solid rgba(0, 0, 0, 0.237);
   
   /* padding-bottom: 1px; */
   padding-top: 4px;
   

}

.m16 ul li a{
   
    text-decoration: none;
    color:black;
    
}

.blog11{
    background-color:#745cf9;
   
   
}

.m16 ul li:hover{
    background-color: #745cf9;
}

.m16 ul li:hover a{
    color: white;
}









/* .searchbox input{
    width:400px;
    height: 50px;
    background: transparent;
    border: 1px solid #ebebeb;
    text-transform: initial;
    font-weight: 400;
    box-sizing: border-box;
}
.searchbox i{
    text-indent: -999px;
     
    height: 48px;
    background: transparent;
    border: 1px solid #ebebeb;
    font-size: large;
    width: 40px;
    justify-items: center;
}

.searchbox input[type='text']{
    font-size: 14px;
    margin: 0;
    padding-left: 25px;

} */
.searchbox form{
    display: flex;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
    float: left;
    width:400px;
    background:transparent;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 50px;
    padding: 10px;
    background:transparent;
    color:black;
    font-size: 17px;
    border: 1px solid black;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    
  }
  
  form.example button:hover {
    border: 1px solid blue;
  }
  
  form.example input:hover{
    border: 1px solid blue;
  }
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .toppost{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .content{
    margin-top: 15px;
    margin-bottom: 20px;
  }
.content ul {
    list-style-type: none;
    display: flex;
   
}

.content ul li{
    padding-right: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.c1{
    padding-top: 5px;
}

.c1 a{
    text-align: center;
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

.recentcontent{
    margin-top: 30px;

}

.c2 p {
    padding-bottom: 30px;
    padding-top: 20px;
}

.c2 p a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.c2 p a:hover{
    color: rgba(0, 0, 255, 0.684);
}

hr{
    border: 1px solid rgba(0, 0, 0, 0.196);
}